# Include all Python source files
recursive-include risk *.py

# Include important project files in the distribution
include README.md
include LICENSE

# Exclude the tests directory
exclude tests/
exclude tests/*

# Exclude compiled files or any other unwanted files
exclude risk/**/*.c
exclude risk/**/*.so
exclude risk/**/*.dll
exclude risk/**/*.pyd

# Optionally exclude bytecode files if necessary
exclude risk/**/*.pyc
exclude risk/**/*.pyo
