[build-system]
requires = ["setuptools", "wheel", "numpy"]
build-backend = "setuptools.build_meta"

[project]
name = "risk-network"
dynamic = ["version"]  # Indicates that version is determined dynamically
description = "A Python package for biological network analysis"
authors = [
    { name = "Ira Horecka", email = "ira89@icloud.com" },
]
readme = "README.md"
license = { file = "LICENSE" }
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Topic :: Scientific/Engineering :: Visualization",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Development Status :: 4 - Beta",
]
dependencies = [
    "ipywidgets",
    "markov_clustering",
    "matplotlib",
    "networkx",
    "nltk==3.8.1",
    "numpy",
    "openpyxl",
    "pandas",
    "python-louvain",
    "scikit-learn",
    "scipy",
    "statsmodels",
    "threadpoolctl",
    "tqdm",
]
requires-python = ">=3.8"
